<p>
	Développé avec ღ par
	<a class="underline" href="https://www.dokos.io" target="_blank">Dokos</a> & 
	<a class="underline" href="https://interhop.org/" target="_blank">Interhop</a>.
	Propulsé par <a class="underline" href="https://sagesfemmesdemaia.fr/" target="_blank">Maia</a>.
</p>
