{% extends "templates/web.html" %}

{% block head_include %}
{{ include_style("maia.bundle.css") }}
<!-- <style>{% include "templates/includes/appointment.css" %}</style> -->
<!-- <link rel="stylesheet" href="/assets/css/website-calendar.min.css"> -->
{% endblock %}

{% block title %} {{ _("Appointments") }} {% endblock %}

{% block header_actions %}
{% endblock %}

{% block header %}<h4 class="main-heading">{{ _("Select your Appointment") }}</h4>

{% endblock %}


{% block script %}
{{ include_script("maia-web.bundle.js") }}
{{ include_script("maia-appointment.bundle.js") }}
<script>{% include "templates/includes/appointment.js" %}</script>
{% endblock %}

{% block page_content %}
<div id="calendar"></div>
{% endblock %}
