{% extends "templates/web.html" %}

{% block script %}
<script>
$(document).ready(function() {
	$("#login_btn").click(function() {
		const $btn = $(this).html("Connexion...").prop("disabled", true);
		frappe.call({
			"method": "login",
			args: {
				usr: "lucile@dokos.io",
				pwd: "demomaia",
			},
			callback(r) {
				$btn.prop("disabled", false);
				if (r.exc) {
					alert("Erreur, veuillez contacter help@dokos.io");
				} else {
					console.log("Connecté");
					window.location.href = "desk";
				}
			}
		})
		return false;
	})
	.prop("disabled", false);
})
</script>
{% endblock %}

{% block style %}
<style>
	footer, .navbar {
		display: none;
	}
	.page-content {
		right: 0%;
		width: 100%;
	}
	{% include "templates/styles/card_style.css" %}
	header, footer {
		display: none;
	}
	html, body {
		background-color: #f5f7fa;
	}
	</style>
{% endblock %}


{% block title %}
{{ _("Demo Maia") }}
{% endblock %}

{% block page_content %}
<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator blue'>
			{{ _("Demo Maia") }}</span>
	</div>
	<!-- <img src="/assets/erpnext/images/erp-icon.svg" style="max-width: 40px; max-height: 40px;"> -->
	<p>Certaines fonctionnalités ont été désactivées et les données sont réinitialisées régulièrement.</p>
	<div><button type="submit" id="login_btn" class="btn btn-primary btn-sm">Découvrir Maia</button></div>
</div>


<p class='text-muted text-center small' style='margin-top: -20px;'><a href="https://maia-by-dokos.fr">Abonnez-vous à Maia !</a>
</p>
<style>
html, body {
	background-color: #f5f7fa;
}
</style>
{% endblock %}