<header class="masthead text-center text-white">
	<div class="masthead-content">
	<div class="container">
		<h1>{{ data.title or '' }}</h1>
		<h2>{{ data.subtitle or '' }}</h2>
		{% if data.button_label %}
		<a href="{{ data.button_link or '/appointment' }}" class="btn btn-primary btn-xl rounded-pill mt-5">{{ data.button_label }}</a>
		{% endif %}
	</div>
	</div>
	<div class="bg-circle-1 bg-circle"></div>
	<div class="bg-circle-2 bg-circle"></div>
	<div class="bg-circle-3 bg-circle"></div>
	<div class="bg-circle-4 bg-circle"></div>
</header>


{% for d in data.body %}
<section>
	<div class="container">
		<div class="row align-items-center">
		<div class="col-lg-6 order-lg-2">
			<div class="p-5">
			<img class="img-fluid rounded-circle" src="{{ d.image }}" alt="{{ d.image_alt or '' }}">
			</div>
		</div>
		<div class="col-lg-6 order-lg-1">
			<div class="p-5">
			<h2 class="display-4">{{ d.heading or '' }}</h2>
			<p>{{ d.body or '' }}</p>
			</div>
		</div>
		</div>
	</div>
</section>
{% endfor %}
