.maia-icon {
	width: 24px;
	margin-right: 0px;
	margin-top: -3px;
}

.form-dashboard-section.custom {
	padding: 15px 15px;
	background-color: #f0f7f9;
}

.btn-custom_dashboard {
	float: right;
	margin-right: 30px;
	background-color: #cce4ea;
}

.text-muted.small {
	font-size: 11px;
}

.selector-progress {
	margin-bottom: 20px;
}

.selector-progress .fa-fw {
	font-size: 9pt;
}
.selector-progress .fa-fw.active {
	color: #ff4081;
}

.appointment-modal {
	opacity: 1 !important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fbfbfb;
	z-index: 30;
	opacity: 0;
	transition: opacity .2s ease;
	border-radius: 4px;
	text-align: center;
}

.appointment-modal {
	padding: 50px 30px;
}

.appointment-modal-close {
	top: 0;
	float: right;
	padding: 18px;
	transition: opacity .2s ease;
	opacity: .3;
	font-size: 25pt;
	cursor: pointer;
}

.appointment-modal-close:hover {
	opacity: 1;
}

.appointment-modal-header {
	min-height: 110px;
}

.appointment-modal-date {
	text-align: center;
	font-size: 34px;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 10px;
}

.appointment-modal-title,
.appointment-modal-appointment-type {
	text-align: center;
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 10px;
}

.appointment-modal-time, .appointment-modal-seats-left {
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 10px;
}

.form-fields {
	max-width: 400px;
	margin: auto;
}

.form-confirmation-container {
	max-width: 600px;
	margin: auto;
}

.form-confirmation {
	transition: box-shadow .2s ease;
	width: 100%;
	padding: 15px 25px;
	margin: 0;
	border: 0 solid #ececec;
	font-size: 1em;
	box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,0);
	text-align: center;
	box-sizing: border-box;
	line-height: 1.5em;
	font-family: Open Sans,Helvetica,Tahoma,Arial,sans-serif;
	color: #333;
	overflow: auto;
	border-bottom: 1px solid #ececec;
	background-color: white;
}

.form-input, .form textarea {
	transition: box-shadow .2s ease;
	width: 100%;
	padding: 15px 25px;
	margin: 0;
	border: 0 solid #ececec;
	font-size: 1em;
	box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,0);
	text-align: left;
	box-sizing: border-box;
	line-height: 1.5em;
	font-family: Open Sans,Helvetica,Tahoma,Arial,sans-serif;
	color: #333;
	overflow: auto;
	border-bottom: 1px solid #ececec;
}

.form-button {
	position: relative;
	transition: background-color .2s,max-width .3s;
	display: inline-block;
	padding: 13px 25px;
	background-color: #ff4081;
	text-transform: uppercase;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	color: #fff;
	border: 0;
	border-radius: 3px;
	font-size: 0.9em;
	font-weight: 600;
	cursor: pointer;
	height: 44px;
	outline: 0;
	text-align: center;
	max-width: 200px;
	margin: 30px auto;
}

.btn-loading {
	background-color: #7f8c8d;
}

.btn-confirmed {
	background-color: #67cc33;
}

.btn-error {
	background-color: #c0392b;
}


.print-toolbar .btn-print-edit,
.print-toolbar .btn-print-preview,
.print-toolbar .btn[href*="/app/print-settings"] {
	display: none !important;
}

.green-response {
	color: green;
}

.red-response {
	color: red;
}